<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forgot Password</title>

     <!--CSS-->
     <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="/resources/css/sb-admin.css" rel="stylesheet">
     <!--JS-->
     <script src="/resources/jquery/jquery.min.js"></script>
     <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="/resources/jquery-easing/jquery.easing.min.js"></script>
     <script src="/js/loginModule.js"></script>

</head>
<body class="bg-dark">
  <div class ="container">
    <div class="card card-login mx-auto mt-5">
     <div class="card-header">Forgot Password</div>
       <div class="card-body">
        <div class="form-group" id="resultMessage"></div>
        <!--Input parameters-->
        <div class="form-group">
            <label for="inputUser">UserName/Email</label>
            <label style="color: red">*</label>
            <input class="form-control" id="inputUser" type="text" placeholder="Enter your username or email" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <label style="color: red">*</label>
          <input class="form-control" id="newPassword" type="password" placeholder="Password" required>
        </div>
        <button class="btn btn-primary" type="button" onclick="forgotPassword()">Reset Password</button>
        <div class="text-center">
          <a class="d-block small mt-3" id ="loginLink">Login</a>
        </div>
      </div> <!--body ends-->
    </div>
  </div>
</body>
</html>