<!-- Never Used -->

<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<script>
function ProcessSimpleCgi()
{
    param1Data = $("#param1").val();
    param2Data = $("#param2").val();
    params = "param1=" + param1Data + "&param2=" + param2Data;
    $.ajax(
    {
        type: "POST",
        url: "/signup",
        data: params,
        dataType: "json",
        success: function (html)
        {
            console.log(typeof html);
            console.log(html.length);
            console.log(html);
            $("#paramsList").html( JSON.stringify(html) );
        },
        error: function(request, ajaxOptions, thrownError)
        {
            $("#debug").html(request.responseText);
            $("#debug").html("5566");
        }
    });
}

function ProcessSimpleCgi2()
{
    param1Data = $("#param1").val();
    param2Data = $("#param2").val();
    params = "param1=" + param1Data + "&param2=" + param2Data;
    $.ajax(
    {
        type: "POST",
        url: "/new",
        data: params,
        dataType: "text",
        success: function (html)
        {
			window.location = "/new";
        },
        error: function(request, ajaxOptions, thrownError)
        {
            $("#debug").html(request.responseText);
            $("#debug").html("5566");
        }
    });
}
</script>
</head>
<body>
    <div>
        <span class="rowName">Number One: </span><input id="param1" type="text" value="4">
    </div>
    <div>
        <span class="rowName">Number Two: </span><input id="param2" type="text" value="7">
    </div>

    <div><input type="button" value="Sum" onclick="ProcessSimpleCgi()"></div>
    <div><input type="button" value="Mult" onclick="ProcessSimpleCgi2()"></div>
    <div><input type="submit" value="Move" action="/new" method="get"></div>

    <ul id="paramsList"></ul>
    <div id = "debug"></div>

</body>

</html>