<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Data Visualizations</title>
  <!--CSS-->
  <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/resources/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
  
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <!--JS-->
  <script src="/resources/jquery/jquery.min.js"></script>
  <script src="/resources/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/resources/jquery-easing/jquery.easing.min.js"></script>
  <!-- <script src="/resources/datatables/jquery.dataTables.js"></script> -->
  <!-- <script src="/resources/datatables/dataTables.bootstrap4.js"></script> -->
  <script src="/resources/js/sb-admin.min.js"></script>
  <!-- <script src="/resources/js/sb-admin-datatables.min.js"></script> -->
  <!-- script for loading the navigation panels -->
  <script> 
    $(function () {
      $("#includeNavBar").load("dashboard_page.html");
    });
  </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Nav bar-->
  <div id="includeNavBar"></div>
  <!-- end of nav bar -->
  <div id="map"></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 47.608013, lng: -122.335167 },
        zoom: 13
      });
      
    }
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3ALJ_wj0RwsMAUWVrB9n1qwUSYTnA2Wc&callback=initMap" async
    defer></script>
  <script src="js/myMap.js"></script>
  </div>
</body>

</html>